[submodule "ros_pkgs/src/rosbridge_suite"]
	path = ros_pkgs/src/rosbridge_suite
	url = ../rosbridge_suite.git
[submodule "modules/map/data/san_francisco"]
	path = modules/map/data/san_francisco
	url = ../apollo-simulator-map.git
[submodule "modules/calibration/data"]
	path = modules/calibration/data
	url = ../apollo-vehicle.git
[submodule "ros_pkgs/src/lgsvl_msgs"]
	path = ros_pkgs/src/lgsvl_msgs
	url = ../lgsvl_msgs.git
